#my-list
    h1
        margin-top: 70px
        padding-left: 4%
        color: white
    
    h3
        margin-top: 10px
        padding-left: 4%
        color: #a3a3a3

    .page-home 
        margin-bottom: 20px
        background: linear-gradient(to right,#181818 10%,rgba(23,23,23,.98) 20%,rgba(23,23,23,.97) 25%,rgba(23,23,23,.95) 35%,rgba(23,23,23,.94) 40%,rgba(23,23,23,.92) 45%,rgba(23,23,23,.9) 50%,rgba(23,23,23,.87) 55%,rgba(23,23,23,.82) 60%,rgba(23,23,23,.75) 65%,rgba(23,23,23,.63) 70%,rgba(23,23,23,.45) 75%,rgba(23,23,23,.27) 80%,rgba(23,23,23,.15) 85%,rgba(23,23,23,.08) 90%,rgba(23,23,23,.03) 95%,rgba(23,23,23,0) 100%)

        .btn-white
            padding: 8px
            background-color: white
            color: black

        .btn-transparent
            padding: 8px
            background-color: transparent
            border: solid 1px #a3a3a3
            color: #a3a3a3
            box-sizing: border-box


        .avatar
            height: 120px
            margin-bottom: 20px
        .btn-select
            margin-bottom: 10px

        .profile-item img
            height: 50px

        .profile-item
            width: 300px
            display: flex
            justify-content: space-between
            border: solid 1px black
            margin-bottom: 5px
            padding: 8px

            input
                height: 40px
                border-radius: 0
                background: linear-gradient(to right, #181818 10%, rgba(23, 23, 23, 0.98) 20%, rgba(23, 23, 23, 0.97) 25%, rgba(23, 23, 23, 0.95) 35%, rgba(23, 23, 23, 0.94) 40%, rgba(23, 23, 23, 0.92) 45%, rgba(23, 23, 23, 0.9) 50%, rgba(23, 23, 23, 0.87) 55%, rgba(23, 23, 23, 0.82) 60%, rgba(23, 23, 23, 0.75) 65%, rgba(23, 23, 23, 0.63) 70%, rgba(23, 23, 23, 0.45) 75%, rgba(23, 23, 23, 0.27) 80%, rgba(23, 23, 23, 0.15) 85%, rgba(23, 23, 23, 0.08) 90%, rgba(23, 23, 23, 0.03) 95%, rgba(23, 23, 23, 0) 100%)
            
        .edit-buttons
            margin-top: 20px
            margin-bottom: 20px
            display: grid
            grid-template-columns: 1fr 1fr 1fr 
            grid-gap: 12px
            

