.PlayButton {
  color: black;
  background-color: white;
  padding: 16px 35px;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 170px;
  cursor: not-allowed;
}

.PlayButton--sm {
  padding: 7px 10px 7px 20px;
}

.PlayButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.PlayButton:hover .PlayButton::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  top: 0;
}

.PlayButton svg {
  margin-right: 20px;
}
