.HeaderHero__content {
  text-align: center;
  margin: 150px auto 0 auto;
  max-width: 700px;
  width: 100%;
}

@media (max-width: 992px) {
  .HeaderHero__content {
    max-width: 600px;
  }
}

@media (max-width: 576px) {
  .HeaderHero__content {
    margin-top: 90px;
  }

  .HeaderHero__languagePicker {
    display: none;
  }
}
