.details

    display: grid
    gap: .5em
    grid-auto-flow: column
    justify-content: flex-start
    align-items: center
    padding: .3em 0

    p
        line-height: 27px
        font-size: 18px
        font-weight: 700

    .match
        color: #46d369
    .public
        border: 1px solid $white
        padding: 0
        padding: 0 .4em
