.modal-overlay
  z-index: 999
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(0, 0, 0, 0.8)

.modal
  z-index: 1000
  position: absolute
  top: 2em

  left: 50%
  width: 65%
  overflow: hidden

  transform: translateX( -50%)
  border-radius: 8px
  box-shadow: 6px 6px 16px rgba(0,0 ,0 ,.3 )

  .btn-close
    z-index: 1000
    position: absolute
    @include flex-full-centered
    top: 16px
    right: 16px

    height: 36px
    width: 36px

    background: #181818
    border-radius: 28px

    img
      height: 16px
      width: 16px
      filter: brightness(0) invert(1)

  .illustration
    position: relative
    height: 360px

    .video-container
      position: relative
      overflow: hidden
      width: 100%
      height: 100%
      iframe
        height: 480px
        width: 100%

    img
      filter: brightness(.9)
      max-height: 480px
      width: 100%
      object-fit: cover
      object-position: top

    .gradient
      position: absolute
      bottom: -1px
      width: 100%
      height: 200px
      background-image: linear-gradient(#ffffff00,$grayNetflixBg)

    .block
      position: absolute
      bottom: 5%
      left: 3em
      width: 40%

      display: flex
      flex-direction: column
      justify-content: flex-end
      align-items: flex-start

      text-shadow: 2px 2px 4px rgb(0 0 0 / 45%)

      .title-illustration
        height: 160px
        width: 60%
        object-fit: contain
      h1
        margin-bottom: 24px
        font-size: 40px
        color: $white
      .buttons
        margin-bottom: 16px
        display: flex
        *
          margin-right: .6em

  .container
    background: $grayNetflixBg

    padding: 0 2em 3em 3em
    //margin-bottom: 2em

    .meta
      width: 100%
      color: $white

      display: grid
      align-items: center
      grid-template-columns: 68% 32% 
      grid-template-rows: repeat(3,minmax(30px, min-content))
      grid-template-areas: "details cast" "description genres" "description tags"
      .details
        grid-area: details

      .description
        grid-area: description
        line-height: 21px
        font-size: 16px
        padding-right: 2em
        margin-top: 10px
        font-weight: 500
        letter-spacing: 0.7

      .cast
        grid-area: cast
        width: 100%
        margin-top: 10px


      .genres
        grid-area: genres
        width: 100%

      .tags
        grid-area: tags
        width: 100%
