.SignPageLayout {
  background-size: cover;
  height: 1100px;
  position: relative;
}

.SignPageLayout__inner {
  z-index: 10;
  position: relative;
}

.SignPageLayout::after {
  content: '';
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

.SignPageLayout__header {
  padding: 30px 50px;
}

.SignPageLayout__content {
  max-width: 450px;
  width: 100%;
  margin: 0 auto 80px auto;
  padding: 70px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #b3b3b3;
}

.SignPageLayout__title {
  color: white;
  margin-bottom: 30px;
}

.SignPageLayout__footerContainer {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.SignPageLayout__footerLanguagePicker {
  background-color: black;
  padding: 5px;
  width: 120px;
}

.SignPageLayout__footerLanguagePicker select {
  padding-left: 20px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .SignPageLayout {
    background-size: cover;
    height: 950px;
    position: relative;
  }
}
