.Header {
  display: flex;
  justify-content: center;
}

.Header__logo {
  width: 10.4375 rem;
  height: 2.8125 rem;
}

.Header__rightSide {
  margin-left: auto;
  color: white;
}

@media (max-width: 992px) {
  .Header__logo {
    width: 120px;
  }
}
