.RedirectSignupForm {
  padding: 15px 0;
  text-align: center;
}

.RedirectSignupForm__title {
  color: white;
  font-size: 1.15rem;
  max-width: none;
  padding-bottom: 20 px;
  margin: 0 auto;
  font-weight: 400;
}

.RedirectSignupForm form {
  margin-top: 15px;
  display: flex;
  width: 100%;
}

.RedirectSignupForm input {
  background: white;
  border-radius: 0
}
.RedirectSignupForm label {
    font-size: 16px;
    color: #8c8c8c;
    font-weight: 500;
}

.RedirectSignupForm__inputWrapper {
  flex: 2;
  width: 100%;
  height: 62px;
}

.RedirectSignupForm__button {
  flex: 1;
  font-size: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: .1px;
}

.RedirectSignupForm__button svg {
  font-size: 1.4rem;
  margin-left: 10px;
}

.RedirectSignupForm__icon {
  font-size: 1.4rem;
  margin-left: 20px;
  margin-top: 2px;
}

@media (min-width: 992px) {
  .RedirectSignupForm__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 992px) {
  .RedirectSignupForm form {
    display: inline-block;
  }

  .RedirectSignupForm__inputWrapper {
    height: 50px;
  }

  .RedirectSignupForm__button {
    margin-top: 15px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px;
  }

  .RedirectSignupForm__icon {
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
}
