.Accordion {
  color: white;
}

.Accordion__title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .Accordion__title {
    font-size: 2.6rem;
  }
}

@media (max-width: 576px) {
  .Accordion__title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
